@-moz-keyframes marquee {
	0%   { -moz-transform: translateX(0%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
	0%   { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes marquee {
	0%   {
	-moz-transform: translateX(0%); /* Firefox bug fix */
	-webkit-transform: translateX(0%); /* Firefox bug fix */
	transform: translateX(0%);
	}
	100% {
	-moz-transform: translateX(-100%); /* Firefox bug fix */
	-webkit-transform: translateX(-100%); /* Firefox bug fix */
	transform: translateX(-100%);
	}
}

.marquee {
	white-space: nowrap;
	/* Starting position */
	-moz-transform:translateX(0%);
	-webkit-transform:translateX(0%);
	transform:translateX(0%);
	/* Apply animation to this element */
	-moz-animation: marquee 15s linear infinite;
	-webkit-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
}

.hidden {
	display: none;
}

.lazyloading {
	position: relative;
	height: calc(var(--safe-area-inset-bottom) + 196px);
	clear: both;
	zoom: .5;
	text-align: center;
}

@media (max-width: 768px) {
	ul.products.wp-load-posts + .lazyloading {
		margin-top: -96px;
	}
}

.lazyloading .fa {
	zoom: 3;
	opacity: .5;
	cursor: pointer;
}

.lazyloading .scroll-top {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 16px;
	width: 16px;
}

select, .select2-dropdown {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	background-color: #F2F2F2;
	border: 0;
}

.select2-search.select2-search--dropdown {
	padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-radius: 0;
	border: 0;
	box-shadow: 0 0 1px #000 inset
}

select, .select2-container--default .select2-selection--single {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
	background: #F2F2F2;
	border: 0;
	border-radius: 23px;
	outline: 0;
	padding: 7px;
	height: 44px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 42px
}

/* Cookie-notice (requires https://wordpress.org/plugins/cookie-notice/) */

html.sitefront body.theme-sitefront #cookie-notice {

	background: rgba(255,255,255,0.98);
	@include top-shadow-border;

	@media (max-width: 768px) {
		@include top-rounded-card;
	}

	&,
	& * {
		font-family: inherit;
	}

	#cn-notice-text {
		font-size: 12px;
		line-height: 1.5;
		text-align: justify;
	}

	#cn-notice-buttons {
		zoom: .85;
	}

	.button.cn-button {
	  padding: 5px 10px;
	}
}

[class^="link-only-icon-"] > a {

	font-size: 0;

	&:after {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 20px;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		font-family: 'Font Awesome 5 Brands';
		vertical-align: baseline;
	}

	&[href*="wordpress.com"]:after,
	&[href*="wordpress.org"]:after { content: "\f19a"; color: #0073aa; }
	&[href*="reddit.com"]:after { content: "\f231"; }
	&[href*="twitch.tv"]:after { content: "\f1e8"; color: #6441A5; }
	&[href*="youtube.com"]:after { content: "\f167"; color: #bb0000; }
	&[href*="vimeo.com"]:after { content: "\f194"; color: #aad450; }
	&[href*="tumblr.com"]:after { content: "\f173"; color: #32506d; }
	&[href*="twitter.com"]:after { content: "\f099"; color: #00aced; }
	&[href*="dribbble.com"]:after { content: "\f17d"; color: #ea4c89; }
	&[href*="facebook.com"]:after { content: "\f09a"; color: #3b5998; }
	&[href*="flickr.com"]:after { content: "\f16e"; color: #ff0084; }
	&[href*="foursquare.com"]:after { content: "\f180"; color: #0072b1; }
	&[href*="plus.google.com"]:after { content: "\f0d5"; color: #dd4b39; }
	&[href*="instagram.com"]:after { content: "\f16d"; color: #517fa4; }
	&[href*="linkedin.com"]:after { content: "\f0e1"; color: #007bb6; }
	&[href*="pinterest.com"]:after { content: "\f231"; color: #cb2027; }
}

.primary-navigation [class^="link-only-icon-"] > a:after {
	padding: .8em;
	vertical-align: -3px;
	font-size: 24px;
}

/* Cookiebot (requires https://wordpress.org/plugins/cookiebot/) */

html.sitefront body.theme-sitefront #CybotCookiebotDialog {

	background: rgba(255,255,255,0.98);
	@include top-shadow-border;

	@media (max-width: 768px) {
		@include top-rounded-card;
	}

	&,
	& * {
		font-family: inherit;
		line-height: inherit;
	}

	#CybotCookiebotDialogDetail {
		background-color: transparent;
	}

	#CybotCookiebotDialogBody {
		max-width: 1080px;
		padding: 0 10px 10px;
	}

	#CybotCookiebotDialogBodyButtonAccept {
		background-color: $black;
		border: 0;
		outline: 0;
		@include border-radius;
	}
}
